.cart {
    width: 200px;
    height: auto;
    border: 1px solid black;
    margin: 30px;
    float: left;
    text-align: center;
    padding: 20px;
}
.cart .name {
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.cart .descript {
    font-size: 1rem;
    margin-top: 15px;
    margin-bottom: 15px;
}
.cart .cost {
    font-size: 1.3rem;
    margin: 5px 0;
}
.cart .add-to-cart:hover {
    background: #838383;
}
.cart .add-to-cart:active {
    background: #46d41a;
}
.cart .add-to-cart {
    font-size: 1.1rem;
    background: black;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.cart img {
    max-width: 100%;
    height: auto;
}

.cart-out {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.goods-out {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.goods-out::after {
    content: "";
    display: block;
    clear: both;
}

.main-cart img {
    max-width: 10%;
    height: auto;
}